.button {
  margin: 1rem;
  padding: 0.5rem 1.2rem;
  font-family: inherit;
  font-size: $font-size-button;
  background-color: $color-main-background;
  box-shadow: $shadow-neomorphic;
  border: none;
  border-radius: $border-radius-large;
  transition: all $transition-time-fast;
  cursor: pointer;

  &-primary,
  &[type='submit'] {
    color: $color-main-primary;
    background-color: rgba($color-main-primary, 0.01);
  }

  &:focus {
    box-shadow: $shadow-neomorphic-focus;
  }

  &:active {
    box-shadow: none;
    transform: translateY(0.2rem);
  }

  &:disabled {
    opacity: 0.3;
  }
}

#logout-button {
  display: inline-block;
}

#scroll-up-button {
  position: fixed;
  bottom: 1.2rem;
  right: 1.2rem;
  padding: 0.2rem 1.2rem 0.5rem 1.2rem;
  font-size: $font-size-h3;
  background-color: rgba($color-white, 0.9);
  border-radius: $border-radius-round;
}
