.camera {
  position: absolute;
  bottom: 1.5rem;
  right: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-main-primary;
  transition: all $transition-time-fast;

  &-details {
    opacity: 0;
    margin-right: 0.7rem;
    padding: 0.2rem 0.7rem;
    border-radius: $border-radius-large;
    color: $color-main-primary;
    font-weight: bold;
    text-shadow: $shadow-text;

    &-hidden {
      animation: fade-out $transition-time-medium-slow ease-out both;
    }

    &-visible {
      animation: fade-in $transition-time-slow cubic-bezier(0.39, 0.575, 0.565, 1) both;
    }
  }
}
