.heart {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: $color-main-primary;
  transition: all $transition-time-fast;

  &-clicked > &-counter {
    animation: heart-counter-clicked $transition-time-very-slow
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both 50ms;
  }

  &-clicked > &-icon {
    animation: heart-clicked $transition-time-very-slow
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both 50ms;
  }

  &-counter {
    color: $color-main-primary;
    font-size: $font-size-main;
    font-weight: bold;
    border-radius: $border-radius-large;
    text-shadow: $shadow-text;
    transition: all $transition-time-medium-fast;

    &-hidden {
      opacity: 0;
      transform: translateY(-6rem);
    }

    &-visible {
      opacity: 1;
      transform: translateY();
    }
  }
}
