hr {
  margin: 1.5rem auto;
  width: 80%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba($color-black, 0),
    rgba($color-main-primary-dark, 0.2),
    rgba($color-black, 0)
  );
}
