.file-upload {
  overflow: hidden;
  position: relative;

  & [type='file'] {
    z-index: -1;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
  }
}
