.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba($color-black, 0.3);

  &-dialog {
    width: 60rem;
    padding: 3rem 2rem;
    border-radius: $border-radius-large;
    background-color: $color-main-background;
    box-shadow: $shadow;
    transition: $transition-time-medium;

    &-close-button {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }
}
