.progress-bar {
  &-text {
    padding: 1rem 2rem;
    color: $color-main-primary;
  }

  &[value] {
    z-index: 100;
    position: relative;
    width: 100%;
    height: 0.5rem;
    -webkit-appearance: none;
    appearance: none;
  }

  &[value]::-webkit-progress-bar {
    background-color: transparent;
    transition: all $transition-time-fast ease-out;
  }
  &[value]::-webkit-progress-value {
    background: $color-main-primary;
    // border-radius: 1rem;
    transition: all $transition-time-fast ease-out;
  }
}

.fixed[value] {
  position: fixed;
  top: 0;
  left: 0;
}
