.table {
  width: 80vw;
  margin: 1rem auto;
  border: $border-table;
  border-collapse: collapse;

  &-row {
    border: $border-table;
  }

  &-header {
    padding: 0.3rem 1rem;
    border: $border-table;
  }

  &-data {
    padding: 0.3rem 1rem;
    border: $border-table;

    &-actions {
      width: 15vw;
      min-width: 20rem;
    }

    &-image {
      border-radius: $border-radius-standard;
      transition: all $transition-time-very-fast;

      &:hover {
        transform: scale(2) translateY(-1rem);
      }
    }
  }
}
