// Import fonts.
@import url('https://fonts.googleapis.com/css?family=Oxygen|Nunito|Courier+Prime|Quicksand|Caveat|Droid+Sans');

// Declare variables.
$color-main-primary: #929aab;
$color-main-text: rgba(0, 0, 0, 0.8);
$color-main-background: rgba(255, 255, 255, 1);
$color-main-background-dark: #efefef;

$shadow-color-light: rgba(255, 255, 255, 0.5);
$shadow-color-dark: rgba(0, 0, 0, 0.4);
$shadow: 0.4rem 0.4rem 0.7rem -0.3rem $shadow-color-dark,
  -0.4rem -0.4rem 0.7rem -0.3rem $shadow-color-light;
$inset-shadow: inset 0.4rem 0.4rem 0.7rem -0.3rem $shadow-color-dark,
  inset -0.4rem -0.4rem 0.7rem -0.3rem $shadow-color-light;

// Normalize project for every browser using universal selector - global reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  // For an easy font size change.
  font-size: 100%;
}

body {
  background-color: $color-main-background;
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  user-select: none;
}

// Prevent blueish border around items in focus.
:focus {
  outline: none !important;
}

.page-title {
  padding: 1rem 0;
  font-size: 2.5rem;
  font-weight: normal;
}

.page-description {
  font-size: 1rem;
  font-weight: normal;
}

.navbar {
  display: flex;
  justify-content: center;

  &-list {
    padding-bottom: 0.5rem;
    display: flex;
    overflow: scroll hidden;
    white-space: nowrap;

    &:hover::-webkit-scrollbar-thumb {
      background: linear-gradient(
        90deg,
        $color-main-background 10%,
        $color-main-background-dark 50%,
        $color-main-background 90%
      );
      transition: all 1s;
    }

    // Edit scrollbar.
    &::-webkit-scrollbar {
      display: block;
      height: 0.75rem;
      /* Track and thumb */
      &-track,
      &-thumb {
        background: $color-main-background;
      }
    }
  }

  &-item {
    padding: 0 1rem;
    transition: all 0.2s;
  }
}

.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-description {
    margin: 1rem 0 1rem 0;
    max-width: 500px;
  }

  &-item {
    margin: 1rem 0 4rem 0;
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: $color-main-background;
    border-radius: 0.3rem;
    transition: 1s opacity;
  }

  &-image {
    max-height: 90vh;
    max-width: 95vw;
    opacity: 1;
    transition: inherit;
  }

  &-caption {
    max-width: 90%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    text-shadow: 0 0 2rem $color-main-background;
    transform: translateY(-10px);
    transition: inherit;

    &-title {
      line-height: 2rem;
    }

    &-description {
      font-weight: bold;
      line-height: 2rem;
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.dashboard,
.form,
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-info {
  flex-direction: row;
}

.loader-inline {
  display: inline-block;
}

.loader-block,
.error-message {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.logout-button {
  display: inline;
}

.frame {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  transition: box-shadow 1s;
  &:hover {
    box-shadow: 0 0.25rem 0.5rem rgba($color-main-background-dark, 0.8);
  }
}

.featured-input {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: $color-main-text;
}

button {
  margin: 10px;
  padding: 0.25rem 0.75rem;
  font-family: inherit;
  font-size: 0.8rem;
  background-color: $color-main-background;
  box-shadow: 0 2px 3px rgba($color-main-text, 0.6);
  border: none;
  border-radius: 0.5rem;
  transition: all 0.2s;

  &:active {
    box-shadow: none;
    transform: translateY(2px);
  }
}

input {
  margin: 0.5rem;
  padding: 0.25rem 0.75rem;
  font-family: inherit;
  font-size: 0.8rem;
  text-align: center;
  border: none;
  box-shadow: 0 0.25rem 0.5rem rgba($color-main-background-dark, 0.5);
  border-radius: 0.5rem;

  &::focus {
    box-shadow: 0 0.25rem 0.5rem rgba($color-main-background-dark, 1);
  }

  // Edit file input.
  &::-webkit-file-upload-button {
    margin: 0.5rem 0;
    padding: 0.25rem 0.75rem;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
    box-shadow: 0 2px 3px rgba($color-main-text, 0.6);
    border-radius: 0.5rem;
    transition: inherit;
    transition: all 0.2s;

    &:active {
      box-shadow: none;
      transform: translateY(2px);
    }

    &:focus {
      outline: inherit;
    }
  }
}

select {
  margin: 0.5rem 1rem;
  display: flex;
  color: inherit;
  font-family: inherit;
  align-items: center;
  border: inherit;

  & option {
    text-align: center;
    padding: 0.5rem;
    border: none;
  }
}

textarea {
  margin: 0.5rem;
  padding: 0.25rem 0.75rem;
  font-family: inherit;
  width: 100%;
  min-height: 50px;
  min-width: 100px;
  max-height: 100px;
  max-width: 200px;
  text-align: center;
  border: none;
  box-shadow: 0 0.25rem 0.5rem rgba($color-main-background-dark, 0.5);
  border-radius: 0.5rem;
}

footer > p {
  margin-bottom: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fade-in {
  opacity: 0;
  transform: translateY(4px);
  transition: opacity 0.5s ease, transform 0.3s ease;

  &.visible {
    opacity: 1;
    transform: translateY(0px);
  }
}

.dim {
  opacity: 0.2;
  transition: opacity 0.5s ease;
}
