.fade {
  &-out {
    visibility: hidden !important;
    opacity: 0 !important;
    transform: translateY(0.5rem) !important;
    transition: all $transition-time-medium-fast ease-out !important;
  }

  &-in {
    visibility: visible !important;
    opacity: 1 !important;
    transform: translateY(0) !important;
    transition: all $transition-time-medium-fast ease-out !important;
  }
}

.dim {
  opacity: 0.2 !important;
  transition: opacity $transition-time-medium-fast ease !important;
}
