// Normalize project for every browser using universal selector - global reset.
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Prevent blueish border around items in focus.
*:focus {
  outline: none !important;
}

html {
  // For an easy font size change.
  // Default browser font size is 16px.
  // 62.5% * 16px = 10px
  font-size: 62.5%;
  overflow-y: overlay;
}

body {
  background-color: $color-main-background;
  font-family: $font-family-main;
  font-size: $font-size-main;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Align all text content.
  text-align: center;

  // Prevents user from selecting text.
  user-select: contain;

  transition: background-color $transition-time-very-slow;
}

// Scrollbar
body::-webkit-scrollbar {
  width: 0.8rem;
  overflow-x: hidden;

  &-track {
    // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  }

  &-thumb {
    transition: all $transition-time-fast;
    background-color: $color-main-primary;
    outline: none;
  }

  &-button,
  &-corner {
    // background-color: $color-main-primary-dark;
  }
}

a {
  text-decoration: inherit;
  color: inherit;
}
