// Normalize project for every browser using universal selector - global reset.
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Prevent blueish border around items in focus.
*:focus {
  outline: none !important;
}

// Hide vertical scrollbar.
*::-webkit-scrollbar {
  display: none;
}

html {
  // For an easy font size change.
  // Default browser font size is 16px.
  // 62.5% * 16px = 10px
  font-size: 62.5%;
}

body {
  margin: 2rem 0;
  background-color: $color-main-background;
  font-family: $font-family-main;
  font-size: $font-size-main;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // Align all text content.
  text-align: center;
  // Prevents user from selecting text.
  user-select: none;
}

a {
  text-decoration: none;
  color: $color-main-text;
}
