.heading-primary {
  font-size: $font-size-h1;
  font-weight: normal;
  letter-spacing: 0.2rem;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.heading-secondary {
  font-size: $font-size-h2;
  font-weight: normal;
}

.heading-tertiary {
  font-size: $font-size-h3;
  font-weight: normal;
}

.paragraph {
  font-size: $font-size-main;
  font-weight: normal;
}
