.u-mtb-medium {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.u-mtb-small {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.u-mt-medium {
  margin-top: 2rem !important;
}

.u-mt-small {
  margin-top: 1rem !important;
}

.u-mb-medium {
  margin-bottom: 2rem !important;
}

.u-mb-small {
  margin-bottom: 1rem !important;
}

.u-mr-medium {
  margin-right: 2rem !important;
}

.u-mr-small {
  margin-right: 1rem !important;
}

.u-danger {
  color: #ab1f15 !important;
}

.u-text-dim {
  color: $color-main-text-dim;
}
