// Media queries manager
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media screen and (max-width: 37.5em) {
      // 600px
      @content;
    }
  }
}

// Other mixins
@mixin centerFlexColumn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
