// Import fonts.
@import url('https://fonts.googleapis.com/css?family=Quicksand');

// Variables.
// Colors.
$color-white: #fff;
$color-very-light-grey: #f0f0f0;
$color-light-grey: #eeeeee;
$color-black: #000;

$color-main-primary: #f8a488;
$color-main-primary-opposite: #075b77;
$color-main-primary-light: #fff8f2;
$color-main-primary-dark: #cf8c75;
$color-main-background: $color-white;
$color-heart: #c85c5c;
$color-main-text: rgba($color-black, 0.85);
$color-main-text-dim: rgba($color-main-text, 0.5);
$color-icon: rgba($color-main-primary, 0.6);
$shadow-color-light: rgba($color-white, 0.8);
$shadow-color-dark: rgba($color-white, 0.7);

// Fonts.
$font-family-main: 'Quicksand', sans-serif;
$font-size-main: 1.6rem;
$font-size-main-small: 1.4rem;
$line-height-main: 3.2rem;
$line-height-huge: 10rem;
$font-size-button: 1.5rem;
$font-size-h1: 4.2rem;
$font-size-h2: 2.8rem;
$font-size-h3: 2.2rem;

// Shadows.
$shadow-standard: 0.4rem 0.4rem 0.7rem -0.3rem $shadow-color-dark,
  -0.4rem -0.4rem 0.7rem -0.3rem $shadow-color-dark;
$inset-shadow: inset 0.4rem 0.4rem 0.7rem -0.3rem $shadow-color-dark,
  inset -0.4rem -0.4rem 0.7rem -0.3rem $shadow-color-light;
$shadow-neomorphic: 0.4rem 0.4rem 0.7rem -0.3rem rgba($color-black, 0.3),
  -0.4rem -0.4rem 0.7rem -0.3rem rgba($color-white, 1);
$shadow-neomorphic-focus: 0.5rem 0.5rem 0.8rem -0.2rem rgba($color-main-primary-dark, 0.3),
  -0.5rem -0.5rem 0.8rem -0.1rem rgba($color-main-primary-light, 1);
$shadow-text: 0.1rem 0.1rem 0.3rem rgba($color-black, 0.3),
  -0.1rem -0.1rem 1rem rgba($color-white, 0.5);
$shadow-strong: 0 0 8rem -5rem $color-black;

// Gradients.
$linear-gradient-scrollbar: linear-gradient(
  90deg,
  rgba($color-main-primary, 0.1) 0%,
  rgba($color-main-primary, 0.7) 50%,
  rgba($color-main-primary, 0.1) 100%
);

// Transitions.
$transition-time-very-fast: 0.1s;
$transition-time-fast: 0.2s;
$transition-time-medium-fast: 0.35s;
$transition-time-medium: 0.5s;
$transition-time-medium-slow: 0.7s;
$transition-time-slow: 1s;
$transition-time-very-slow: 1.5s;

// Others.
$border-radius-standard: 0.5rem;
$border-radius-large: 1rem;
$border-radius-round: 50%;
$border-table: 1px solid rgba($color-black, 0.05);
