.header {
  position: relative;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include respond(tab-land) {
    flex-direction: column;
  }
}

#user-info {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include respond(tab-land) {
    position: relative;
  }
}
