.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 1rem;

  &-list {
    // Important padding between items and scrollbar
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    overflow: scroll hidden;
    white-space: nowrap;

    &:hover::-webkit-scrollbar-thumb {
      background-image: $linear-gradient-scrollbar;
      transition: all $transition-time-slow;
    }

    // Scrollbar
    &::-webkit-scrollbar {
      display: block;
      height: 0.8rem;

      // Track and thumb
      &-track,
      &-thumb {
        background: $color-main-background;
      }
    }
  }

  &-item {
    margin: 0 1rem;
    transition: all $transition-time-fast;

    &:hover,
    &-active {
      color: $color-main-primary;
    }
  }
}
