// Normalize project for every browser using universal selector - global reset.
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Prevent blueish border around items in focus.
*:focus {
  outline: none !important;
}

// Hide vertical scrollbar.
*::-webkit-scrollbar {
  display: none;
}

html {
  // For an easy font size change.
  // Default browser font size is 16px.
  // 62.5% * 16px = 10px
  font-size: 62.5%;
}

body {
  margin: 2rem 0;
  background-color: $color-main-background;
  font-family: $font-family-main;
  font-size: $font-size-main;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // Align all text content.
  text-align: center;
  // Prevents user from selecting text.
  user-select: none;
}

.user-info {
  flex-direction: row;
}

.loader-inline {
  display: inline-block;
}

.loader-block,
.error-message {
  height: 50vh;
  width: 100%;
  @include centerFlexColumn;
}

.frame {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: $border-radius-large;
  transition: box-shadow $transition-time-fast;

  &:hover {
    box-shadow: $shadow-neomorphic;
  }
}

.featured-input {
  display: flex;
  align-items: center;
  font-size: $font-size-main;
}

.form {
  @include centerFlexColumn;
}

a {
  text-decoration: none;
  color: $color-main-text;
}

.button {
  margin: 1rem;
  padding: 0.5rem 1.2rem;
  font-family: inherit;
  font-size: $font-size-button;
  background-color: $color-main-background;
  box-shadow: $shadow-neomorphic;
  border: none;
  border-radius: $border-radius-large;
  transition: all $transition-time-fast;

  &:active {
    box-shadow: none;
    transform: translateY(0.2rem);
  }
}

.logout-button {
  display: inline-block;
}

input {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: $font-size-main;
  text-align: center;
  background-color: inherit;
  border: none;
  border-radius: 0.5rem;
  box-shadow: $shadow-neomorphic;

  &::focus {
    color: $color-main-primary;
    box-shadow: 0 0.25rem 0.5rem rgba($color-black, 1);
  }

  // Edit file input.
  &::-webkit-file-upload-button {
    margin: 0.5rem 0;
    padding: 0.25rem 0.75rem;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
    box-shadow: 0 2px 3px rgba($color-main-text, 0.6);
    border-radius: 0.5rem;
    transition: inherit;
    transition: all $transition-time-fast;

    &:active {
      box-shadow: none;
      transform: translateY(0.2rem);
    }

    &:focus {
      outline: inherit;
    }
  }
}

select {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  border: inherit;
  transition: $transition-time-slow;

  & option {
    text-align: center;

    &:checked {
      color: $color-main-primary;
    }
  }
}

textarea {
  margin: 0.5rem;
  padding: 0.25rem 0.75rem;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  max-height: 20rem;
  max-width: 30rem;
  text-align: center;
  border: 1px solid $color-light-grey;
  border-radius: $border-radius-standard;
  background-image: linear-gradient(
    to right bottom,
    $color-main-background,
    $color-light-grey
  );
  box-shadow: $shadow-neomorphic;
}
